body {
  background-color: #E0E0E0;
  padding: 0 0 10px;
}

body.login {
  background-color: #fff;
}

.page-login {
  margin: 200px 0;
}

.page-login-other {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.page-login-other p {
  margin-bottom: 15px;
  position: relative;
}

.page-login-other p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 250px;
  height: 1px;
  background-color: gray;
  transform: translateY(-50%);
}

.page-login-other p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  width: 250px;
  height: 1px;
  background-color: gray;
  transform: translateY(-50%);
}

.page-login-form {
  margin: 50px 0 20px;
}

.login-background {
  margin-top: 50px;
}

.registration-title {
  text-align: center;
  margin-bottom: 50px;
}

.registration {
  border-radius: 5px;
}

.navigation-body {
  display: flex;
  align-items: center;
}

.navigation-logo {
  margin-right: 20px;
}

.navigation-form form input {
  width: 350px;
}

.navigation-pages ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

.navigation-pages ul li {
  margin-right: 25px;
}

.navigation-pages ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

.navigation-profile {
  margin-left: 50px;
}

.user-background img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.bg-placeholder img {
  width: 100%;
}

.user-image-file {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image-submit {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}